{% extends "base.html" %}
{% block title %}Edit Course{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">

  <h1>Edit Course</h1>

  <form action="{{ url_for('manage_courses.update_course', course_id=course.course_id) }}" method="POST">
    <label for="course_name">Course Name:</label>
    <input type="text" id="course_name" name="course_name" value="{{ course.course_name }}" required>
    <label for="course_code">Course Code:</label>
    <input type="text" id="course_code" name="course_code" value="{{ course.course_code }}" required>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{ course.description }}" required>

    <button type="submit">Update Course</button>
</form>

{% endblock %}
