{% extends "base.html" %}

{% block title %}
    <title>Give Feedback</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Give Feedback</h2>
    <form method="POST">
        <div class="form-group">
            <label for="assignment">Assignment:</label>
            <select class="form-control" id="assignment" name="assignment_id">
                {% for assignment in assignments %}
                <option value="{{ assignment.id }}">{{ assignment.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="student">Student:</label>
            <select class="form-control" id="student" name="student_id">
                {% for student in students %}
                <option value="{{ student.student_id }}">{{ student.first_name }} {{ student.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="feedback_text">Feedback:</label>
            <textarea class="form-control" id="feedback_text" name="feedback_text" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Feedback</button>
    </form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/GF.css') }}">

{% endblock %}
